:root {
  --color-main: #f36d00;
  --color-second: #ff811a;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.1rem;
  line-height: 24px;
}

html {
  padding: 0 0 2% 2%;
}
* {
  box-sizing: border-box;
}

h1 {
  font-family: "Krona One", sans-serif;
  line-height: 99px;
  letter-spacing: 0.005em;
  margin: 0;
}

h3 {
  padding-top: 5%;
}

header {
  overflow: hidden;
}

p {
  padding: 0 2% 0 2%;
}

a {
  font-size: 16px;
  color: black;
  text-decoration: none;
  padding: 2%;
  text-align: center;
}
a:visited {
  color: black;
}
a:hover {
  color: var(--color-second);
  font-weight: bolder;
}
a:active {
  color: var(--color-second);
}

.mail:hover {
  color: var(--color-second);
  font-weight: bolder;
}

.mail {
  color: var(--color-main);
  padding: 0;
}

/* Style the header section */
.navbar {
  position: fixed;
  background-color: white;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navbar a {
  padding: 2%;
}

#sayHi,
#sayHiBottom {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 46px;
  letter-spacing: 0.06em;
  text-decoration: underline;
  color: var(--color-main);
}

#sayHi:hover {
  color: var(--color-second);
}

.name {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

#lastName {
  margin-top: -24px;
}

.callToAction {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 2% 0 2%;
}

#buttonCV,
#buttonCV2 {
  background-color: var(--color-main);
  color: white;
  width: 200px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.1rem;
  border: none;
  margin-right: 5%;
  padding: 3%;
  text-align: center;
}

#duygu {
  width: 75vw;
  margin-left: 2vw;
  left: 35vw;
  position: relative;
  z-index: -5;
}

/* image styling  */
.imageHorizontal {
  width: 95vw;
}

.imageVertical {
  border-radius: 22px;
  height: 50vh;
}

/* Tech Section Styling */
.tech-section {
  margin-top: 5%;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}

/* Section Styling */
.mobileFlexView {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.section {
  padding: 2%;
}

.section a {
  color: var(--color-main);
  padding: 0;
  font-size: inherit;
}

.callToAction a {
  padding: 2%;
}

.section a:hover {
  color: var(--color-second);
  padding: 0;
  font-size: inherit;
  font-weight: bolder;
}

.projectSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.textAlignStart {
  align-self: flex-start;
}

@media only screen and (min-width: 250px) {
  #sayHi,
  .hidden {
    display: none;
  }

  #duygu {
    margin-top: 8vw;
  }

  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 20px;
  }

  span {
    font-size: 25px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 550px) {
  #sayHi,
  .hidden {
    display: block;
  }

  #sayHiBottom {
    display: none;
  }

  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 20px;
  }

  span {
    font-size: 25px;
  }

  .navbar {
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
  }
}

@media only screen and (min-width: 650px) {
  #sayHi {
    display: block;
  }

  .headerContent {
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 5% 5% 0 2%;
  }

  .name {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    align-self: center;
  }

  .name p {
    margin: 0;
    padding: 2%;
  }

  .callToAction {
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
    padding: 0;
    justify-self: left;
  }

  .callToAction a {
    padding: 5%;
  }

  #buttonCV,
  #buttonCV2 {
    width: 250px;
  }

  #duygu {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    width: 50vw;
    left: 30%;
    align-self: start;
  }

  .section {
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 0 2% 0 2%;
    margin-bottom: 10%;
  }

  .sectionContent {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }

  .imageHorizontal {
    width: 52vw;
  }

  .imageVertical {
    border-radius: 22px;
    height: 35vh;
  }

  .aboutSection {
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 0 2% 0 2%;
    margin-bottom: 2%;
  }
}
@media only screen and (min-width: 800px) {
  .name {
    padding-top: 5vw;
  }

  .callToAction {
    grid-column: 1 / span 1;
    grid-row: 3 / span 2;
    padding: 2%;
    justify-self: start;
  }

  #sayHi {
    padding-right: 20%;
  }

  .navbar {
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
  }

  #buttonCV,
  #buttonCV2 {
    padding: 4%;
  }
}

@media only screen and (min-width: 1000px) {
  #callToActionAbout {
    position: absolute;
    left: 5%;
  }

  #buttonCV2 {
    width: 160px;
  }

  .aboutContent {
    padding-top: 10%;
  }
}
@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 100px;
  }

  h2 {
    font-size: 80px;
  }

  h3 {
    font-size: 32px;
  }

  span {
    font-size: 60px;
  }

  p {
    font-size: 18px;
  }

  #lastName {
    margin-top: 2%;
  }

  #callToActionAbout {
    position: absolute;
    left: 5%;
    margin-top: -5vw;
    padding-top: 5%;
  }

  #buttonCV2 {
    width: 250px;
  }
}
