$color-background: #2b073d;
$color-header: #68bd97;
$color-paragraph: #cb86b2;
$color-hover: #ea4c89;
$color-hr: #892bb8;

html,
body {
	margin: 0;
	font-family: 'futura-pt', helvetica, san-serif;
}
* {
	box-sizing: border-box;
}

a:link,
a:visited {
	text-decoration: none;
	color: $color-paragraph;
}
