$color-background: #ffffff;
$color-header: #ff605b;
$color-paragraph: #3b3a37;
$color-hover: #be6863;
$color-hr: #f9423a;

html,
body {
	margin: 0;
	font-family: helvetica, san-serif;
	letter-spacing: 0.1rem;
}
* {
	box-sizing: border-box;
}

li {
	list-style: none;
}

a:link {
	text-decoration: none;
}
