@import 'components/main.scss';
.root {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding-top: 20vh;

	h1 {
		font-size: 50px;
		font-weight: bold;
		color: $color-header;
		padding-bottom: 5vh;
		margin-top: 5vh;
		align-self: center;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
	}
	a {
		color: $color-hr;
	}
	p {
		color: $color-paragraph;
		padding: 2vw;
	}
	img {
		border-radius: 50%;
		margin-top: -10vh;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
	}
}

@media only screen and (max-width: 500px) {
	.root {
		p,
		a {
			font-size: 19px;
		}
	}
}

@media only screen and (min-width: 501px) {
	.root {
		p,
		a {
			font-size: 32px;
		}
	}
}
