@import 'components/main.scss';
.root {
	h1 {
		font-size: 50px;
		font-weight: bold;
		color: $fix-blue;
		writing-mode: vertical-lr;
		text-orientation: upright;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
	}

	h2,
	a {
		font-weight: bold;
		font-size: 40px;
		color: $fix-black;
	}
}
