@import 'components/main.scss';
.root {
	h1 {
		font-size: 32px;
		font-family: 'Poppins', sans-serif;
		color: $fix-blue;
		padding-bottom: 18px;
		writing-mode: vertical-lr;
		text-orientation: upright;
	}
}

.pageWrapper {
	display: flex;
	flex-direction: column;
	padding: 4%;
}
