@import 'components/main.scss';

.container {
	display: grid;
	grid-template-columns: 1fr 1fr 15%;
	grid-template-rows: 20% 60% auto;
	width: 90%;
	padding-top: 5vh;

	hr {
		border: 6px solid $color-hr;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
	}

	h1 {
		font-size: 50px;
		font-weight: bold;
		color: $color-header;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
	}

	h2,
	a {
		font-weight: bold;
		font-size: 40px;
		color: $color-paragraph;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
	}

	a:hover {
		color: $color-hover;
	}
}

.styleName {
	grid-column: 3 / span 1;
	grid-row: 2 / span 2;
	justify-self: right;
	text-align: center;
	writing-mode: vertical-lr;
	text-orientation: upright;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.styleLabel {
	text-align: right;
	grid-column: 1 / span 3;
	grid-row: 1 / span 1;
}

.stylePages {
	text-align: left;
	grid-column: 1 / span 2;
	grid-row: 3 / span 1;
}

@media only screen and (min-width: 550px) {
	.container {
		padding-top: 14vw;
		padding-right: 5vw;
		width: 85%;
		display: grid;
		transform: rotate(-20deg);
	}
	.styleLabel {
		grid-column: 1 / span 3;
		grid-row: 2 / span 1;
		align-self: end;
		padding-right: 10vw;
	}
	.stylePages {
		align-self: end;
	}

	.hidden {
		display: none;
	}
}

@media only screen and (min-width: 700px) {
	.styleLabel {
		padding-left: 15vw;
	}
}

@media only screen and (min-width: 1000px) {
	.hidden {
		display: block;
	}
	.container {
		margin-top: -10vh;
		padding: 5vw;
		display: grid;
		grid-template-columns: 40% 10% 60%;
		grid-template-rows: repeat(3, 1fr);
		transform: rotate(-20deg);
	}

	.styleName {
		grid-column: 2 / span 1;
		grid-row: 1 / span 3;
		justify-self: center;
		align-self: end;
	}

	.styleLabel {
		grid-row: 2 / span 1;
		grid-column: 1 / span 1;
		padding: 0;
		align-self: flex-start;
	}

	.stylePages {
		grid-column: 3 / span 1;
		grid-row: 3 / span 1;
	}
}
